* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* header style kit */
    --headerFont: "Jacques Francois Shadow";
    --headerBGColor: #F2E7E7;
    --headerTextColor: #000000;
}


/* header styling start from here. */
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: var(--headerBGColor);
    font-family: var(--headerFont);
    color: var(--headerTextColor);
}


main {
    height: 85vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 1px 5px 8px 3px rgb(184, 180, 180);
}


/* left side styling */
.left {
    width: 50vw;
    height: 100%;
    display: flex;
}

.left_sujjestions {
    width: 80px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.left_sujjestions img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 6px 2px rgb(130, 127, 127);
    border: 1px solid black;
}

.left_sujjestions img:hover {
    transform: scale(1.1);
}

.left_sujjestions img:active {
    transform: scale(0.95);
}

.item_image {
    width: 640px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.item_image img {
    width: 600px;
    height: 570px;
    border-radius: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50vw;
}

.upper {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(99, 94, 94);
    width: 710px;
    padding: 10px;
    gap: 10px;
    font-family: "Itim";
}

.upper h3 {
    font-family: "Kaushan Script";
    font-size: 2rem;
    color: black;
}

.upper p {
    color: #000000;
    font-size: 1.2rem;
}

.rating {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: none;
    font-size: 1.3rem;
    color: rgb(93, 207, 93);
}


/* bottom styling */
.below {
    width: 710px;
    padding: 10px;
    font-family: "Itim";
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    color: #000000;
    font-size: 2.5rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 150px;
    height: 35px;
    font-family: "Kaushan Script";
    background-color: #edb0b0;
    color: white;
    border-radius: 5px;
    border: none;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 6px 3px rgb(216, 190, 190);
}

.btn:hover {
    background-color: #e8a2a2;
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
}